*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contTable{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}
:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.modalError{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    opacity: 0;
    transition: all 0.35s ease-in; 
    z-index: -1;
}
.modal1 {
    position: relative;
    width:  90%;
    height: 500px;
    border-radius: 5px;
    background: var(--white);
}
.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalCerrar{
    top: -10px;
    cursor: pointer;
    left: -10px;
    border: none;
    background-color: red;
    color: white;
    position: absolute;
    width: 80px;
    height: 80px;
    font-size: 1.5em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.modalContent{
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}.modalContent p{
    display: block;
    margin: 5px;
    font-size: 2.5em;
    line-height: 2;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.imagenForm{
    width: 100%;
    height: 50%;
    position: relative;
}
.imagenForm img{
    width: 100%;
     height: 100%;
     object-fit: cover;
      display: block;   
        
    }
.contForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 15px;
}

.grupoForm,.botones{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}.botones{
    flex-direction: row;
    justify-content: space-around;
}
.grupoForm input{
    padding: 25px;
    border: none;
    outline: none;
    font-size: 2.2em;
    margin: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tituloInput{
    color: white;
    font-size: 3.2em;
    font-weight: 800;
}

.btnReinvertir, .btnCalcular{
    width: 45%;
    margin: 20px auto;
    padding: 25px;
    border: none;
    font-size: 2.2em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.btnReinvertir:hover,.btnCalcular:hover{
    box-shadow: 0 5px 5px 0 rgba(251, 255, 3, 0.719);
    transition: transform 1s ease;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    -o-transition: transform 1s ease;
}

.modalMonto{
    z-index: 1;
    opacity: 0;
    position: absolute;
    max-height: 700px;
    overflow: auto;
    top: 0;
    left: 5%;
    background-color: rgb(252, 252, 252);
    text-align: center;
    font-size: 2.5em;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(-5%,5%);
    -webkit-transform: translate(-5%,5%);
    -moz-transform: translate(-5%,5%);
    -ms-transform: translate(-5%,5%);
    -o-transform: translate(-5%,5%);
    box-shadow: 20px 20px 3px 0 rgba(0, 0, 0, 0.822);
}
.modalMonto::-webkit-scrollbar{width: 6px;}
.modalMonto::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.modalMonto > p{
    margin: 10px;
    display: block;
}
.cerrarMonto{
    cursor: pointer;
    position: absolute;
    top: 0;
    color: white;
    left: 0;
    width: 35px;
    height: 35px;
    border: none;
    background-color: red;
    font-size: 1.2em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.visible{
    opacity: 1;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}

table{
    box-shadow: 20px 20px 3px 0 rgba(0, 0, 0, 0.822);
    opacity: 0;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    top: 50%;
    width: 90%;
    height: 400px;
    background-color: lightblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
table td{
    width: 33%;
    font-size: 2em;
    padding: 5px;
    text-align: center;
}
.titulosTable{
    font-size: 2.5em;
}

@media (min-width: 768px){
    table{
        top: 70%;
    }
}

@media (min-width:1024px){
    .modalMonto{
        font-size: 1.1em;
    }
    table{
        height: 320px;
        top: 78%;
    }
    .titulosTable,table td{
        font-size: 1.2em;
    }
    
}



@media (min-width: 1300px){
    .form{
        width: 70%;
        flex-direction: row;
    }
    .imagenForm{
        
        height: 800px;
    }
    .contForm{
        
        height: 800px;
    }
    .btnReinvertir, .btnCalcular{
        font-size: 1.2em;
        padding: 10px;
    }.tituloInput{
        font-size: 1.5em;
    }.grupoForm input{padding: 10px; font-size: 1.2em;}
    .modal1{
        width: 30%;
        height: 200px;
    }
    .modalContent p{
        font-size: 1.5em;
    }
    .modalCerrar{
        font-size: 1em;
        width: 30px;
        height: 30px;
    }
    table{
        top: 30%;
    }
}